apiVersion: v1
kind: Service
metadata:
  name: {{ include "g3bookstoreserver.fullname" . }}
  labels:
    {{- include "g3bookstoreserver.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: grpc
  selector:
    {{- include "g3bookstoreserver.selectorLabels" . | nindent 4 }}
